@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #0b0404;
    --cor-secundaria: #ffa71af7;
    --cor-terciaria: #ffffff;
    --cor-quartenaria: #054dab;
    --cor-de-fundo: #0747a7;
}

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-quartenaria);
    color: var(--cor-secundaria);
}
.cabecalho{
    background-color: var(--cor-terciaria);
    padding: 0 0 0 10%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.cabecalho__menu__link{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: var(--cor-primaria);
    margin: 0 10px;
    padding: 10px 15px;
    text-decoration: none;
}

.cabecalho__menu__link:hover{
    color: var(--cor-secundaria);
}



.apresentacao{
    padding: 8% 15%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
.apresentacao__conteudo{
    width: 50% ;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--cor-secundaria);
}

.certificado{
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: var(--cor-secundaria);
}

.titulo-destaque{
    color: var(--cor-secundaria);
}
span{
    color: var(--cor-terciaria);
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao{
    background-color: var(--cor-de-fundo);
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-primaria);
    border: 2px solid var(--cor-secundaria); ;
    font-family: 'Montserrat', sans-serif;
}
.apresentacao__links__link:hover{
    cursor: pointer;
    background-color:var(--cor-de-fundo);
    color: var(--cor-terciaria);
    transition: 5s;
}

.rodape{
    padding: 0 0 0 10%;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentacao__img{
    width: 50%;
}

.apresentacao__conteudo__texto{
    text-decoration: none;
    color: var(--cor-terciaria);
}

@media(max-width: 1200px ){
    .cabecalho{
        padding:100%;
    }
    
    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 20%;
    }

    .apresentacao__conteudo{
        width: auto;
    }
}